<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><i class="fa fa-newspaper-o"></i> Links</h3>

        <div class="recent-posts-cont">
          <ul class="image-list">
            <li class="table">
              <a href="/" class="table-row">
                <div class="vertical-center">
                  <!-- <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cacique/73.jpg" class="author-image"> -->
                </div>
                <div class="vertical-center article-title">
                  Home
                </div>
              </a>
            </li>
            <li class="table">
              <a href="#" class="table-row">
                <div class="vertical-center">
                  <!-- <img src="https://s3.amazonaws.com/uifaces/faces/twitter/visionarty/73.jpg" class="author-image"> -->
                </div>
                <div class="vertical-center article-title">
                  Blogs
                </div>
              </a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="col-sm-4">
        <h3><i class="fa fa-newspaper-o"></i> Other Links</h3>

        <div class="recent-posts-cont">
          <ul class="image-list">
            <li class="table">
              <a href="/" class="table-row">
                <div class="vertical-center">
                  <!-- <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cacique/73.jpg" class="author-image"> -->
                </div>
                <div class="vertical-center article-title">
                  About Us
                </div>
              </a>
            </li>
            <li class="table">
              <a href="#" class="table-row">
                <div class="vertical-center">
                  <!-- <img src="https://s3.amazonaws.com/uifaces/faces/twitter/visionarty/73.jpg" class="author-image"> -->
                </div>
                <div class="vertical-center article-title">
                  Contact Us
                </div>
              </a>
            </li>
          </ul> 
        </div>
      </div>

      <div class="col-sm-4">
        <h3><i class="fa fa-leaf"></i> Contact Us</h3>
        <address>
          <strong>Website:</strong><br />
          <a href="#">www.aboutsagar.com</a>
        </address>
        <address>
          <strong>Address:</strong><br />
          Flat NO.3, Yamunai Niwas, Sangam Chowk<br />
          Kothrud,Pune 411038.
        </address>


        <div class="social-cont">
          <span class="fa-stack facebook">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack twitter">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack google">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack instagram">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>
        </div>

      </div>
    </div>
  </div>
</footer>
